@use "../abstracts/variables";
@use "../base/typography";

.section_1 {
	width: 100vw;
	.pin-start {
		width: 100%;
		height: 92vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	h2 {
		line-height: 11.8vw;
	}

	.name {
		font-size: 14vw;
	}
	.position {
		font-size: 13vw;
		color: variables.$color-tertiary;
	}
}
