@use "../abstracts/variables";
@use "../base/typography";

.section_2 {
	width: 100vw;
	// background-color: blue;

	.pin-start {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.pin-start > div {
		display: flex;
		flex-direction: column;
	}
	h2 {
		font-family: typography.$font-light;
		line-height: 11.8vw;
		font-size: 15vw;
		justify-self: center;
		align-self: center;

		// transform: translateX(100%);
	}

	.text {
		text-align: center;
		p {
			margin-bottom: 1rem;
			font-size: 2vw;
		}
	}
}
