@use "../abstracts/variables";
@use "../base/typography";

.section_4 {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgb(124, 187, 124);

	.pin-start {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: calc(50vw - 15vw);
	}

	.title {
		font-family: typography.$font-light;
		line-height: 11.8vw;
		font-size: 15vw;
		justify-self: center;
		align-self: center;
		text-align: center;
		display: inline-block;
	}

	.text_container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(5, 10vh);
	}

	.about {
		grid-area: 4/3/6/6;
	}
}
