@use "../abstracts/variables";
@use "../base/typography";

.section_1 {
	width: 100vw;
}
.section_1 > div {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	margin-inline: 0.3rem;
	line-height: 11.8vw;
}
.name {
	font-size: 14vw;
}
.position {
	font-size: 13vw;
	color: variables.$color-tertiary;
}

.pin-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
