@use "../abstracts/variables";
@use "../base/typography";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: variables.$color-primary;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: typography.$font-bold;
	color: variables.$color-secondary;
	display: inline-block;
}

ul {
	list-style: none;
}

body {
	overflow: hidden;
}

span {
	white-space: pre;
	display: inline-block;
}
