@use "../abstracts/variables";
@use "../base/typography";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	// border: 1px solid red;
}

body {
	background-color: variables.$color-primary;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: typography.$font-bold;
	color: variables.$color-secondary;
	display: inline-block;
	line-height: 81%;
}
li {
	font-family: typography.$font-bold;
	color: variables.$color-secondary;
	line-height: 81%;
}
p {
	line-height: 1.6rem;
}

ul {
	list-style: none;
}

body,
main {
	// overflow: hidden;
}

span {
	white-space: pre;
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: variables.$color-secondary;
}

button {
	cursor: pointer;
}

main {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr)
		minmax(auto, 1400px)
		minmax(1rem, 1fr);
	gap: 1rem 0;
}
/* Every direct child of main gets positioned in the middle column */
main > * {
	grid-column: 2;
}

/* Every element with the class .full inherits the grid, 
  and fills up the three columns */
.full {
	display: inherit;
	grid: inherit;
	grid-column: 1 / -1;
}
/* Every child of .full fills up the middle column */
.full > * {
	grid-column: 2;
}
