@font-face {
	font-family: "neue_montrealbold";
	src: url("/neue-montreal-webfont/neuemontreal-bold-webfont.woff2") format("woff2"), url("/neue-montreal-webfont/neuemontreal-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montreallight";
	src: url("/neue-montreal-webfont/neuemontreal-light-webfont.woff2") format("woff2"), url("/neue-montreal-webfont/neuemontreal-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealmedium";
	src: url("/neue-montreal-webfont/neuemontreal-medium-webfont.woff2") format("woff2"), url("/neue-montreal-webfont/neuemontreal-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealregular";
	src: url("/neue-montreal-webfont/neuemontreal-regular-webfont.woff2") format("woff2"), url("/neue-montreal-webfont/neuemontreal-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$font-light: "neue_montreallight", sans-serif;
$font-regular: "neue_montrealregular", sans-serif;
$font-medium: "neue_montrealmedium", sans-serif;
$font-bold: "neue_montrealbold", sans-serif;
