@use "../abstracts/variables";
@use "../base/typography";

.about_container {
	height: 92vh;
	display: grid;
	.about_details_wrapper {
		justify-self: center;
		align-self: flex-end;
	}

	.about_details {
		display: grid;

		grid-template-columns: 1fr 1fr;
		gap: 4rem;

		& > * {
			flex: 1;
		}
	}

	.about_text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 100ch;

		p {
			font-size: 1.3rem;
			font-family: typography.$font-medium;
		}
	}

	.tech {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 0.5rem;
		h2 {
			font-size: clamp(3.5rem, 0.75rem + 7.3333vw, 6.25rem);
			font-family: typography.$font-medium;
		}
		.icons {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}
	}

	.title_container {
		display: flex;
		margin-bottom: 2rem;
		align-items: flex-end;

		.img_container {
			max-width: 13vw;
			height: auto;
		}
	}

	.title {
		place-self: end;
		display: flex;
		flex-direction: column;

		h2 {
			font-size: clamp(2.5rem, -3.9rem + 17.0667vw, 8.9rem);
		}
		h2:first-child {
			font-family: typography.$font-light;
		}
		h2:last-child {
			font-family: typography.$font-medium;
		}
	}
}

@media screen and (max-width: 800px) {
	.about_container .about_details {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
	.img_container {
		display: none;
	}
	.about_details_wrapper {
		margin-block-end: 1.3rem;
	}
}
