@use "../abstracts/variables";
@use "../base/typography";

.project {
	height: 92vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	& > * {
		grid-column: span 3;
	}

	.project_wrapper {
		margin-top: 4rem;
		display: grid;
		justify-content: space-evenly;
		flex-direction: column;
		gap: 2rem;
	}
	.title {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		h2 {
			text-transform: uppercase;
		}

		& > * {
			font-size: clamp(2.5rem, -2.5rem + 13.3333vw, 7.5rem);

			font-family: typography.$font-medium;
			opacity: 85%;
		}
	}

	.details_container {
		display: flex;
		gap: 3rem;
		& > div {
			flex: 1;
		}

		// IMAGE CONTAINER
		& > div:first-child {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;

			// background-blend-mode: hard-light;

			p {
				font-size: 1.1rem;
				margin: 0.5rem;
				color: variables.$color-tertiary;
				font-family: typography.$font-medium;
			}
			span {
				font-family: typography.$font-light;
				text-transform: uppercase;
			}
		}
		// DETAILS CONTAINER
		& > div:last-child {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			p {
				font-size: 1.2rem;
				font-family: typography.$font-medium;
				line-height: 100%;
			}
		}
	}
	.details {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		div:last-child {
			display: flex;
			gap: 0.3em;
		}
	}
	.details_tech {
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
	}
	ul {
		display: flex;
		flex-direction: column;
		list-style: initial;
		li {
			font-size: 1rem;
			font-family: typography.$font-medium;
			text-transform: uppercase;

			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		& li::marker {
			content: "🦩 ";
		}
	}

	.project_count {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1.5rem;
		margin-bottom: 0.5rem;

		.btn_container {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			gap: 0.3rem;

			a {
				font-size: clamp(1rem, 0.1rem + 1.0667vw, 0.9rem);
				font-family: typography.$font-light;
			}
		}

		h2 {
			font-size: clamp(2.7rem, -8.9rem + 23.2vw, 8.5rem);
			span {
				font-family: typography.$font-light;
			}
		}
	}
}

[data-project="1"] {
	.details_container {
		& > div:first-child {
			background-image: url("/mockup-test2.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-color: variables.$color-secondary;
			background-position: center center;
		}
	}
}
[data-project="2"] {
	.details_container {
		& > div:first-child {
			background-image: url("/tutordb_mockup.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-color: variables.$color-secondary;
			background-position: center center;
		}
	}
}

[data-project="3"] {
	.details_container {
		& > div:first-child {
			background-image: url("/advice_case_mockup.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-color: variables.$color-secondary;
		}
	}
}
[data-project="4"] {
	.details_container {
		& > div:first-child {
			background-image: url("/color_palette_mockup.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-color: variables.$color-secondary;
		}
	}
}

@media screen and (max-width: 800px) {
	.project {
		.project_count {
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

			.btn_container {
				flex: 0;
			}
		}
		.project_wrapper {
			margin-top: 0;
		}
		.details_container {
			flex-direction: column;

			& > div:first-child {
				position: relative;
				height: 9rem;
				p {
					position: absolute;
					margin: 0;
				}
				p:first-child {
					top: 100%;
					left: 0;
				}
				p:last-child {
					top: 100%;
					right: 0;
				}
			}

			& > div {
				flex: none;
			}
			.details {
				display: flex;
				flex-direction: column;
				align-items: baseline;
				gap: 0.7rem;

				margin-top: 1rem;
			}
			.details ul {
				margin-inline-start: 1.4rem;
			}

			.details div:last-child {
				width: 100%;
				gap: 1rem;
				justify-content: center;
			}
		}
	}

	.next_project_btn {
		font-size: 0.8rem;
		margin-bottom: 0;
	}
	.next_project_btn i {
		font-size: 0.8rem;
		color: #222222;
	}
}
